</div>
<footer class="footer">
	<div class="map_block_wr">
		<div class="contacts">
			<div class="item">
				<div class="name">Отдел продаж</div>
				<div class="phone"><a href="tel:+ 373 690 325 13">+ 373 690 325 13</a></div>
				<div class="email"><a href="mailto:sales@hulm.haus">sales@hulm.haus</a></div>
			</div>
			<div class="item">
				<div class="name">Сервисный отдел</div>
				<div class="phone"><a href="tel:+ 373 690 325 13">+ 373 690 325 13</a></div>
				<div class="email"><a href="mailto:sales@hulm.haus">sales@hulm.haus</a></div>
			</div>
			<div class="item">
				<div class="name">Сотрудничество</div>
				<div class="phone"><a href="tel:+ 373 690 325 13">+ 373 690 325 13</a></div>
				<div class="email"><a href="mailto:sales@hulm.haus">sales@hulm.haus</a></div>
			</div>
		</div>
		
		<div class="map_">
			<div class="address">
				<div class="name">Showroom & производство</div>
				<div class="text">MD-2023 str. Uzinelor, 21 Chișinău Moldova</div>
			</div>
			<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A56d7072b5800541e741dea970cbae53abeeb6760c960e76d33b36b74e62397c8&amp;source=constructor" width="100%" height="472" frameborder="0"></iframe>
		</div>
	</div>
	<div class="footer_bottom">
		<div class="soc_block">
			<a href="">
				<img src="files/soc1.svg" alt="">
			</a>
			<a href="">
				<img src="files/soc2.svg" alt="">
			</a>
			<a href="">
				<img src="files/soc3.svg" alt="">
			</a>
			<a href="">
				<img src="files/soc4.svg" alt="">
			</a>
		</div>	
		<div class="copy">HULM HAUS (C). All Rights Reserved. 2024</div>
		<div class="dev">Designed & Developed <img src="files/dev.png" alt=""></div>
	</div>
</footer>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.1-beta.0/js/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/ScrollTrigger.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>