</div>
<footer class="footer">
	
	<div class="footer_bottom">
		<div class="soc_block">
			<a href="">
				<img src="files/soc1.svg" alt="">
			</a>
			<a href="">
				<img src="files/soc2.svg" alt="">
			</a>
			<a href="">
				<img src="files/soc3.svg" alt="">
			</a>
			<a href="">
				<img src="files/soc4.svg" alt="">
			</a>
		</div>	
		<div class="copy">HULM HAUS (C). All Rights Reserved. 2024</div>
		<div class="dev">Designed & Developed <img src="files/dev.png" alt=""></div>
	</div>
</footer>
</div>
<script src="js/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.1-beta.0/js/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.0/ScrollTrigger.min.js"></script>

<script src="js/main.js"></script>
</body>
</html>