<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.1-beta.0/css/lightgallery.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div class="site_wrapper">
	<div class="menu_burger">
		<div class="menuClose"></div>
		<div class="menu_scroll">
			<div class="lang_block">
				<a href="">EN</a>
				<span>|</span>
				<a href="" class="current">RU</a>
				<span>|</span>
				<a href="">RO</a>
			</div>	
			<div class="phone">
				<div class="icon wa">
					<img src="files/whatsapp.svg" alt="">
				</div>
				<div class="icon tg">
					<img src="files/telegram.svg" alt="">
				</div>
				<a href="tel:+ 373 690 325 13">+ 373 690 325 13</a>
			</div>
			<div class="top_btn">
				<a href="" class="btn_button border"><span class="border_line"></span>HULM HAUS COMPACT, 36 m2</a>
				<a href="" class="btn_button border"><span class="border_line"></span>HULM HAUS, 46 m2</a>	
			</div>
			<div class="menu_top">
				<ul>
					<li><a href="">Главная</a></li>
					<li><a href="">О нас</a></li>
					<li><a href="">Технология строительства</a></li>
					<li><a href="">Экстерьер и внешняя отделка</a></li>
					<li><a href="">Интерьер и обустройство дома</a></li>
					<li><a href="">Доставка и установка</a></li>
					<li><a href="">Гарантийное и постгарантийное обслуживание</a></li>
					<li><a href="">Инвестиционная привлекательность</a></li>
					<li><a href="">Блог</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>		
			<div class="soc_block">
				<a href="">
					<img src="files/soc1.svg" alt="">
				</a>
				<a href="">
					<img src="files/soc2.svg" alt="">
				</a>
				<a href="">
					<img src="files/soc3.svg" alt="">
				</a>
				<a href="">
					<img src="files/soc4.svg" alt="">
				</a>
			</div>	
			<a href="" class="btn_button">ЗАКАЗ ПРОСМОТРА</a>					
		</div>
	</div>
	<header class="header header_line">
		<div class="header_top">
			<div class="logo">
				<a href="">
					<img src="files/logo-inner.svg" alt="">
				</a>
			</div>
			<div class="left">
				<a href="" class="btn_button border"><span class="border_line"></span>HULM HAUS COMPACT, 36 m2</a>
				<a href="" class="btn_button border"><span class="border_line"></span>HULM HAUS, 46 m2</a>
				<a href="" class="btn_button">ЗАКАЗ ПРОСМОТРА</a>
			</div>
			<div class="right">
				<div class="phone">
					<div class="icon wa">
						<img src="files/whatsapp.svg" alt="">
					</div>
					<div class="icon tg">
						<img src="files/telegram.svg" alt="">
					</div>
					<a href="tel:+ 373 690 325 13">+ 373 690 325 13</a>
				</div>												
				<div class="lang_block">
					<a href="">EN</a>
					<span>|</span>
					<a href="" class="current">RU</a>
					<span>|</span>
					<a href="">RO</a>
				</div>						
				<div class="burger"></div>						
			</div>
		</div>
	</header>
	<div class="content_block_wr">