include _header_inner_blog.jade
<div class="blog_page_block">
    <div class="block_inner">        
        <div class="date">10.12.24</div>
        <div class="content_blog">    
            <p>Строительство жилья никогда не было таким быстрым, удобным и экологичным. Модульные дома позволяют воплотить самые смелые архитектурные идеи за короткие сроки, сохраняя высокое качество и доступность. Они идеально подходят для тех, кто ценит современный стиль, энергоэффективность и экологическую безопасность. В статье вы узнаете, как модульные технологии преобразуют привычные подходы к строительству и почему они так популярны сегодня.</p>
            <div class="inner">
                <div class="image"><img src="files/page-img.jpg" alt=""></div>
                <div class="right">
                    <h3>Преимущества модульного жилья</h3>
                    <ul>
                        <li><strong>Скорость строительства.</strong> Благодаря заранее подготовленным модулям, дом можно собрать в считанные недели, что делает модульные дома идеальным решением для тех, кто ценит свое время.</li>
                        <li><strong>Экологичность. Использование</strong> энергоэффективных материалов и технологий производства снижает углеродный след, а продуманные системы утепления позволяют экономить на отоплении и кондиционировании.</li>
                        <li><strong>Доступная цена.</strong> Такой способ строительства зачастую обходится дешевле традиционных, так как сокращаются расходы на рабочую силу и транспортировку материалов.</li>
                    </ul>
                </div>
            </div>
            <h2>Стиль и индивидуальный подход</h2>
            <p>Модульные дома могут быть не только функциональными, но и стильными. Современные технологии позволяют создавать уникальные архитектурные решения, которые соответствуют любым запросам заказчика. Вы можете выбрать планировку, отделочные материалы и даже цвет фасада, чтобы ваш дом идеально соответствовал вашим предпочтениям.</p>
            <blockquote>Одним из ключевых преимуществ модульных домов является их мобильность. Такие конструкции можно легко переместить на другой участок, что делает их идеальными для тех, кто часто меняет место жительства. Кроме того, дома можно модернизировать, добавляя новые модули или обновляя существующие.</blockquote>
        </div>
    </div>                                  
</div>
<div class="last_blog_wr">
    <div class="block_inner">
        <div class="title">ПОСЛЕДНИЕ ЗАМЕТКИ ОТ HULM HAUS</div>
        <div class="inner">
            <a href="" class="item">
                <span class="image">
                    <img src="files/blog2.jpg" alt="">
                </span>
                <span class="body">
                    <span class="date">10.12.24</span>
                    <span class="name">Будущее строительства: модульные дома — быстро, экологично, доступно!</span>
                </span>
            </a>
            <a href="" class="item">
                <span class="image">
                    <img src="files/blog3.jpg" alt="">
                </span>
                <span class="body">
                    <span class="date">10.12.24</span>
                    <span class="name">Модульные дома: революция в строительстве жилья</span>
                </span>
            </a>
            <a href="" class="item">
                <span class="image">
                    <img src="files/blog4.jpg" alt="">
                </span>
                <span class="body">
                    <span class="date">10.12.24</span>
                    <span class="name">Модульные дома: готовый дом вашей мечты в рекордные сроки!</span>
                </span>
            </a>
        </div>
    </div>
</div>
include _footer.jade