include _header_inner_contacts.jade
<div class="map_block_page">
    <div class="block_inner">
        <div class="contacts">
            <div class="item">
                <div class="name">Отдел продаж</div>
                <div class="phone">
                    <a href="tel:+ 373 690 325 13">+ 373 690 325 13</a>
                    <a href="tel:+ 373 78 777 227">+ 373 78 777 227</a>
                </div>
                <div class="email"><a href="mailto:sales@hulm.haus">sales@hulm.haus</a></div>
            </div>
            <div class="item">
                <div class="name">Сервисный отдел</div>
                <div class="phone"><a href="tel:+ 373 690 325 13">+ 373 690 325 13</a></div>
                <div class="email"><a href="mailto:sales@hulm.haus">sales@hulm.haus</a></div>
            </div>
            <div class="item">
                <div class="name">Сотрудничество</div>
                <div class="phone"><a href="tel:+ 373 690 325 13">+ 373 690 325 13</a></div>
                <div class="email"><a href="mailto:sales@hulm.haus">sales@hulm.haus</a></div>
            </div>
        </div>
        <div class="map_">
            <div class="address">
                <div class="name">Showroom & производство</div>
                <div class="text">MD-2023 str. Uzinelor, 21 Chișinău Moldova</div>
            </div>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A56d7072b5800541e741dea970cbae53abeeb6760c960e76d33b36b74e62397c8&amp;source=constructor" width="100%" height="472" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="details_contacts">
    <div class="block_inner">
        <div class="title">реквизиты</div>
        <div class="inner">
            <div class="column">
                <div class="item">
                    <div class="name">Denumirea companiei:</div>
                    <div class="val">HULM HAUS</div>
                </div>
                <div class="item">
                    <div class="name">Cod Fiscal:</div>
                    <div class="val">1020600007327</div>
                </div>
                <div class="item">
                    <div class="name">Cod TVA:</div>
                    <div class="val">0308253</div>
                </div>
                <div class="item">
                    <div class="name">Adresa Juridica:</div>
                    <div class="val">MD-2025, str. N.Testemitanu, 21/5, of.26 mun. Chișinău, Republica Moldova</div>
                </div>
                <div class="item">
                    <div class="name">Adresa Poștală:</div>
                    <div class="val">MD-2025, str. N.Testemitanu, 21/5, of.26 mun. Chișinău, Republica Moldova</div>
                </div>
            </div>
            <div class="column">
                <div class="item">
                    <div class="name">Denumirea bancii:</div>
                    <div class="val">BC'MAIB'S.A.</div>
                </div>
                <div class="item">
                    <div class="name">SWIFT:</div>
                    <div class="val">AGRNMD2X</div>
                </div>
                <div class="item">
                    <div class="name">Account MDL:</div>
                    <div class="val">MD62AG000000022514649581</div>
                </div>
                <div class="item">
                    <div class="name">Account EUR</div>
                    <div class="val">MD62AG00000002251464958</div>
                </div>
            </div>
            <div class="column">
                <div class="item">
                    <div class="name">Denumirea bancii:</div>
                    <div class="val">BC'MAIB'S.A.</div>
                </div>
                <div class="item">
                    <div class="name">SWIFT:</div>
                    <div class="val">AGRNMD2X</div>
                </div>
                <div class="item">
                    <div class="name">Account MDL:</div>
                    <div class="val">MD62AG000000022514649581</div>
                </div>
                <div class="item">
                    <div class="name">Account EUR</div>
                    <div class="val">MD62AG00000002251464958</div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer_inner.jade