include _header_inner.jade
<div class="text_content_block">
    <div class="block_inner">
        <div class="title text text-main-anim">ЗАГОЛОВОК ИНФО БЛОКА</div>
        <div class="body text text-main-anim">КОНТЕНТ ИНФО БЛОКА - WYSIWYG РЕДАКТОР. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</div>
        <div class="inner text text-main-anim">
            <div class="left">
                <img src="files/page-img.jpg" alt="">
            </div>
            <div class="right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget</div>
        </div>
        <div class="btns_block text text-main-anim">
            <a href="#" class="btn_icon">
                <i></i>
                <span>Набор файлов инфо блока</span>
            </a>
            <a href="#" class="btn_icon">
                <i></i>
                <span>Название документа который тут прикреплен</span>
            </a>
        </div>
        <div class="title_block text text-main-anim">ЗАГОЛОВОК ИНФО БЛОКА</div>
    </div>
    <div class="mySwiper_images_block text text-main-anim">
        <div class="swiper mySwiper_images_page" data-id="mySwiper_images_page" data-arrow="images">
            <div class="swiper-wrapper">
                <a href="files/ss.jpg" class="swiper-slide">
                    <img src="files/ss.jpg" alt="">
                </a>
                <a href="files/ss2.jpg" class="swiper-slide">
                    <img src="files/ss2.jpg" alt="">
                </a>
                <a href="files/ss3.jpg" class="swiper-slide">
                    <img src="files/ss3.jpg" alt="">
                </a>
                <a href="files/ss4.jpg" class="swiper-slide">
                    <img src="files/ss4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="text_content_block" style="background: #f0f0f0;">
    <div class="block_inner">
        <div class="title text-main-anim">ЗАГОЛОВОК ИНФО БЛОКА</div>
        <div class="body text-main-anim">КОНТЕНТ ИНФО БЛОКА - WYSIWYG РЕДАКТОР. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</div>
        <div class="inner text-main-anim">
            <div class="left-img">
                <img src="files/page-img2.jpg" alt="">
            </div>
        </div>
        <div class="body text-main-anim">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget</div>
        <div class="btns_block text-main-anim">
            <a href="#" class="btn_icon">
                <i></i>
                <span>Набор файлов инфо блока</span>
            </a>
            <a href="#" class="btn_icon">
                <i></i>
                <span>Название документа который тут прикреплен</span>
            </a>
        </div>
        <div class="title_block text-main-anim">ЗАГОЛОВОК ИНФО БЛОКА</div>
    </div>
    <div class="mySwiper_images_block text-main-anim">
        <div class="swiper mySwiper_images_page" data-id="mySwiper_images_page" data-arrow="images">
            <div class="swiper-wrapper">
                <a href="files/ss.jpg" class="swiper-slide">
                    <img src="files/ss.jpg" alt="">
                </a>
                <a href="files/ss2.jpg" class="swiper-slide">
                    <img src="files/ss2.jpg" alt="">
                </a>
                <a href="files/ss3.jpg" class="swiper-slide">
                    <img src="files/ss3.jpg" alt="">
                </a>
                <a href="files/ss4.jpg" class="swiper-slide">
                    <img src="files/ss4.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="form_block_wr text-main-anim">
    <div class="block_inner">
        <div class="title">ОСТАЛИСЬ ВОПРОСЫ</div>
        <div class="inner">
            <div class="name">ИЛИ НУЖНА  ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ?</div>
            <div class="form_right">
                <form action="">
                    <div class="row">
                        <div class="field">
                            <input type="text" placeholder="Номер телефона">
                        </div>
                        <div class="field_btn">
                            <button type="text" class="btn_button black">ОТПРАВИТЬ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="gal_slider_hover">
    <div class="title">
        <div class="block_inner text-main-anim">БОЛЬШЕ ИНФОРМАЦИИ О ДОМАХ HULM HAUS</div>
    </div>
    <div class="inner text-main-anim">
        <a hreh="" class="column" style="background-image: url(files/sa.jpg);">
            <div class="name"><span>Экстерьер и <br>внешняя отделка</span></div>
            <div class="block">
                <h3>ЭКСТЕРЬЕР И ВНЕШНЯЯ ОТДЕЛКА</h3>
                <div class="body">Производитель домов HULM HAUS, является одной из крупнейших строительных компаний Республики Молдова, с собственными производственными и складскими помещениями площадью 6000 квадратных метров,  прилегающей территорией 1 гектар и специализированным автопарком промышленной техники, насчитывающим 18 единиц.</div>
            </div>
        </a>
        <a hreh="" class="column" style="background-image: url(files/sa2.jpg);">
            <div class="name"><span>Интерьер и <br>обустройство дома</span></div>
            <div class="block">
                <h3>ЭКСТЕРЬЕР И ВНЕШНЯЯ ОТДЕЛКА</h3>
                <div class="body">Производитель домов HULM HAUS, является одной из крупнейших строительных компаний Республики Молдова, с собственными производственными и складскими помещениями площадью 6000 квадратных метров,  прилегающей территорией 1 гектар и специализированным автопарком промышленной техники, насчитывающим 18 единиц.</div>
            </div>
        </a>
        <a hreh="" class="column" style="background-image: url(files/sa1.jpg);">
            <div class="name"><span>Доставка и <br>установка</span></div>
            <div class="block">
                <h3>ЭКСТЕРЬЕР И ВНЕШНЯЯ ОТДЕЛКА</h3>
                <div class="body">Производитель домов HULM HAUS, является одной из крупнейших строительных компаний Республики Молдова, с собственными производственными и складскими помещениями площадью 6000 квадратных метров,  прилегающей территорией 1 гектар и специализированным автопарком промышленной техники, насчитывающим 18 единиц.</div>
            </div>
        </a>
        <a hreh="" class="column" style="background-image: url(files/sa2.jpg);">
            <div class="name"><span>Гарантийное и <br>постгарантийное обслуживание</span></div>
            <div class="block">
                <h3>ЭКСТЕРЬЕР И ВНЕШНЯЯ ОТДЕЛКА</h3>
                <div class="body">Производитель домов HULM HAUS, является одной из крупнейших строительных компаний Республики Молдова, с собственными производственными и складскими помещениями площадью 6000 квадратных метров,  прилегающей территорией 1 гектар и специализированным автопарком промышленной техники, насчитывающим 18 единиц.</div>
            </div>
        </a>
        <a hreh="" class="column" style="background-image: url(files/sa1.jpg);">
            <div class="name"><span>Инвестиционная <br>привлекательность</span></div>
            <div class="block">
                <h3>ЭКСТЕРЬЕР И ВНЕШНЯЯ ОТДЕЛКА</h3>
                <div class="body">Производитель домов HULM HAUS, является одной из крупнейших строительных компаний Республики Молдова, с собственными производственными и складскими помещениями площадью 6000 квадратных метров,  прилегающей территорией 1 гектар и специализированным автопарком промышленной техники, насчитывающим 18 единиц.</div>
            </div>
        </a>
        <a hreh="" class="column" style="background-image: url(files/sa2.jpg);">
            <div class="name"><span>Гарантийное и <br>постгарантийное обслуживание</span></div>
            <div class="block">
                <h3>ЭКСТЕРЬЕР И ВНЕШНЯЯ ОТДЕЛКА</h3>
                <div class="body">Производитель домов HULM HAUS, является одной из крупнейших строительных компаний Республики Молдова, с собственными производственными и складскими помещениями площадью 6000 квадратных метров,  прилегающей территорией 1 гектар и специализированным автопарком промышленной техники, насчитывающим 18 единиц.</div>
            </div>
        </a>
        <a hreh="" class="column" style="background-image: url(files/sa1.jpg);">
            <div class="name"><span>Инвестиционная <br>привлекательность</span></div>
            <div class="block">
                <h3>ЭКСТЕРЬЕР И ВНЕШНЯЯ ОТДЕЛКА</h3>
                <div class="body">Производитель домов HULM HAUS, является одной из крупнейших строительных компаний Республики Молдова, с собственными производственными и складскими помещениями площадью 6000 квадратных метров,  прилегающей территорией 1 гектар и специализированным автопарком промышленной техники, насчитывающим 18 единиц.</div>
            </div>
        </a>
    </div>
</div>
<div class="model_block_wr text-main-anim">
    <div class="block_inner">
        <div class="left">
            <div class="title">МОДЕЛЬНЫЙ РЯД </div>
            <div class="subtitle">ДОМОВ HULM HAUS</strong></div>
            <div class="img">
                <img src="files/img-price.svg" alt="">
            </div>
        </div>
        <div class="right">
            <div class="item" style="background-image: url(files/m1.jpg);">
                <div class="text">
                    <div class="name">HULM HAUS </div>
                    <div class="body">Удобный и комфортабельный загородний дом, идеальный для размещения 4 человек.</div>
                </div>
            </div>
            <div class="item" style="background-image: url(files/m2.jpg);">
                <div class="text">
                    <div class="name">HULM HAUS COMPACT</div>
                    <div class="body">Удобный и комфортабельный загородний дом, оптимальный для размещения небольшой семьи.</div>
                </div>
            </div>
        </div>
    </div>
</div>
include _footer.jade