include _header.jade
	<div class="exterior_block_wr">
		<div class="title_block">
			<div class="block_inner">
				<div class="title text-main-anim">ЭКСТЕРЬЕР</div>
			</div>
		</div>					
		<div class="blocks">
			<div class="inner">
				<div class="slider_block slider_block_wr text-main-anim">
					<div class="swiper mySwiper_images1" data-id="mySwiper_images1" data-arrow="images1">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="files/slider1.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="files/slider2.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="files/slider3.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="swiper_arrow">
						<div class="swiper_arrow_btn prev swiper-images1-btn"></div>
						<div class="swiper_arrow_btn next swiper-images1-btn"></div>
					</div>
				</div>
				<div class="text_block">
					<div class="in">
						<div class="name text-main-anim">Внешние габаритные размеры</div>
						<div class="body text-main-anim">
							<p>Оптимальные размеры дома позволяют гармонично вписать его в самые  разные природные ландшафты. Дом может выступать как самостоятельный  объект для уединённого отдыха или располагаться в группе, образуя уютный туристический посёлок. Такое решение создаёт возможность для размещения домов как на просторных открытых площадках, так и в компактных  участках, учитывая особенности местности и ландшафта.</p>
						</div>
					</div>
				</div>
			</div>		
			<div class="inner">
				<div class="slider_block slider_block_wr text-main-anim">
					<div class="swiper mySwiper_images2" data-id="mySwiper_images2" data-arrow="images2">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="files/slider2.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="files/slider2.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="files/slider3.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="swiper_arrow">
						<div class="swiper_arrow_btn prev swiper-images2-btn"></div>
						<div class="swiper_arrow_btn next swiper-images2-btn"></div>
					</div>
				</div>
				<div class="text_block">
					<div class="in">
						<div class="name text-main-anim">Фасадные решение, витражи</div>
						<div class="body text-main-anim">
							<p>Съёмные, легко заменяемые фасады придадут вашим домам  индивидуальность и уникальность. Богатый выбор внешней отделки позволяет домам естественно вписываться в окружающий ландшафт, делая их частью  природы и подчёркивая красоту местности.</p>
							<p>Витражные решения с обширным остеклением привнесут в дом атмосферу природы и  умиротворения, позволяя вам полностью расслабиться и отдохнуть от  городской суеты. Панорамные окна позволят любоваться пейзажем и наполнят пространство естественным светом, создавая гармоничное единство  интерьера с окружающей средой</p>
						</div>
					</div>
				</div>
			</div>		
			<div class="inner">
				<div class="slider_block slider_block_wr text-main-anim">
					<div class="swiper mySwiper_images3" data-id="mySwiper_images3" data-arrow="images3">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<img src="files/slider3.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="files/slider2.jpg" alt="">
							</div>
							<div class="swiper-slide">
								<img src="files/slider1.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="swiper_arrow">
						<div class="swiper_arrow_btn prev swiper-images3-btn"></div>
						<div class="swiper_arrow_btn next swiper-images3-btn"></div>
					</div>
				</div>
				<div class="text_block">
					<div class="in">
						<div class="name text-main-anim">Терраса и уличная мебель</div>
						<div class="body text-main-anim">
							<p>Терраса создаёт идеальное пространство для отдыха на свежем  воздухе, где можно наслаждаться природой и панорамными видами в любое  время года. Уличная мебель, разработанная для комфорта и долговечности,  органично дополняет террасу, создавая уютную атмосферу для встреч с  друзьями, семейных обедов или спокойного отдыха в одиночестве. Мебель  устойчива к внешним воздействиям и гармонирует с общим стилем дома,  обеспечивая комфорт и эстетику в любую погоду.</p>
						</div>
					</div>
				</div>
			</div>	
		</div>						
	</div>	
	<div class="exterior_block_slider">
		<div class="block_inner">
			<div class="text_block">
				<div class="name text-main-anim">ИНТЕРЬЕР И ОСНАЩЕНИЕ</div>
				<div class="body text-main-anim">Дом площадью 46 кв. м отличается продуманным уютным интерьером и  функциональным зонированием, выполненным в современном стиле. Каждая  деталь способствует атмосфере комфорта и уюта, создавая пространство,  идеально подходящее для жизни и отдыха</div>
			</div>
			<div class="slider_block text-main-anim">
				<div class="swiper mySwiper_ext" data-id="mySwiper_ext" data-arrow="ext">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="files/sl.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="files/sl.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="files/sl.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="files/sl.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="files/slider2.jpg" alt="">
						</div>
						<div class="swiper-slide">
							<img src="files/slider1.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="select_block_slider">
					<div class="name_select"></div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="prices_block_wr">
		<div class="block_inner">
			<div class="left text-main-anim">
				<div class="title text-main-anim">СТОИМОСТЬ ДОМА</div>
				<div class="subtitle text-main-anim">HULM HAUS <strong>ПОД КЛЮЧ</strong></div>
				<div class="img">
					<img src="files/img-price.svg" alt="">
				</div>
			</div>
			<div class="right">
				<div class="text text-main-anim">Дом, поставляемый под ключ, включает современное и практичное  решение по экстерьеру, комбинированные фасады, адаптируемые под ваши  запросы, водосточную систему, точки подключения внешних коммуникаций.  Внутреннее оформление продумано для обеспечения максимального комфорта  без дополнительных вложений. Пространство обустроенно необходимой  мебелью и техникой, санузел оснащён высококачественной сантехникой. Всё  создано для уютного и удобного проживания.</div>
				<div class="inner text-main-anim">
					<div class="item">
						<div class="name">HULM HAUS, <strong>46 m2</strong></div>
						<div class="price">40 000 EUR</div>
					</div>
					<div class="item">
						<div class="name">HULM HAUS, <strong>36 m2</strong></div>
						<div class="price">30 000 EUR</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="preim_block_wr">
		<div class="block_inner">
			<div class="item text-main-anim">
				<div class="title ">1 МЕСЯЦ</div>
				<div class="name">ОТ КОНТРАКТА ДО ЗАСЕЛЕНИЯ</div>
				<div class="inner">
					<div class="path_item">
						<a href="#" class="btn_icon">
							<i></i>
							<span>Подписание контракта</span>
						</a>
						<a href="" class="path_link">Изготовление</a>
						<a href="" class="path_link">Доставка</a>
						<a href="" class="path_link">Монтаж</a>
						<a href="" class="path_link">Подключение коммуникаций</a>
						<a href="" class="btn_icon_bg"><i></i><span>Установка мебели и техники</span></a>
					</div>
				</div>
			</div>
			<div class="item text-main-anim">
				<div class="title">6 ЛЕТ</div>
				<div class="name">ПОЛНОЙ ГАРАНТИИ</div>
				<div class="text"><strong>ПОСТАГАНИЙНОЕ</strong> ОБСЛУЖИВАНИЕ ПО ПОДПИСКЕ</div>
				<a href="" class="btn_button">ДЕТАЛИ</a>
			</div>
			<div class="item text-main-anim">
				<div class="title">ИНВЕСТИЦИИ</div>
				<div class="body">Окупаемость за 6 лет при сдаче в аренду</div>
				<a href="" class="btn_button black">РАСЧЕТЫ</a>
			</div>
		</div>
	</div>
	<div class="video_block_wr">
		<div class="video_inner">
			<video id="custom-video" class="video-element" preload="metadata">
				<source src="files/mov_bbb.mp4" type="video/mp4">
			</video>
			<div class="video-overlay">
				<button id="play-pause-btn" class="play-button"></button>
			</div>
		</div>
		<div class="video-description text-main-anim">
			<h3>Производственные мощности компании</h3>
			<p>Производитель домов HULM HAUS, является одной из крупнейших строительных компаний  Республики Молдова, с собственными производственными и складскими  помещениями площадью 6000 квадратных метров, прилегающей территорией 1  гектар и специализированным 	автопарком промышленной техники,  насчитывающим 18 единиц.</p>
		</div>
	</div>
include _footer.jade